@model STIUApp.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major)
        </dd>
         
        <dt> @Html.DisplayNameFor(model => model.Enrollments) </dt>
        <dd> 
        <table class="table"> 
        <tr> 
            <th>Course ID</th> <th>Course Title</th> <th>Credits</th>  <th>Taken?</th> 
        </tr> 

        @foreach (var item in Model.Enrollments)
        {
        <tr> 
            <td> @Html.DisplayFor(modelItem => item.Course.CourseID) </td> 
            <td> @Html.DisplayFor(modelItem => item.Course.Title) </td> 
            <td> @Html.DisplayFor(modelItem => item.Course.Credits) </td> 
            <td> @Html.DisplayFor(modelItem => item.Taken) </td> 
        </tr> 
        } 

        </table> 
        </dd>

        <dd>
            <table class="table">
                <tr>
                    <th>Total Credit</th> <th>Basic Core</th> <th>Major Requisite</th><th>Major Elective</th><th>Internship</th><th>Minor</th>
                </tr>
                <tr>
                    <td>@{int Counter = 0;}
                        @foreach (var item in Model.Enrollments)
                        {

                            if (item.Course != null && item.Status == "Completed")
                            {
                                Counter = Counter + item.Course.Credits;
                            }
                        }
                        <label>@Counter</label>
                    </td>
                    <td>
                        @{int CountBC = 0;}
                        @foreach (var item in Model.Enrollments)
                        {
                            if (item.Course != null && item.Course.Type == "Basic Core")
                            {
                                if (item.Status == "Completed")
                                {
                                    CountBC = CountBC + item.Course.Credits;
                                }
                            }
                        }
                        <label>@CountBC</label>

                    </td>
                    <td>
                       @{int CountMR = 0;}
                       @foreach (var item in Model.Enrollments)
                       {
                           if(item.Course != null && item.Course.Type == "Major Requisite")
                           {
                               if (item.Status == "Completed")
                               {
                                   CountMR = CountMR + item.Course.Credits;
                               }
                           }
                       }
                        <label>@CountMR</label>
                    </td>
                    <td>@{int CountME = 0;}
                        @foreach (var item in Model.Enrollments)
                        {
                            if (item.Course != null && item.Course.Type == "Major Elective")
                            {
                                if (item.Status == "Complete")
                                {
                                    CountME = CountME + item.Course.Credits;
                                }
                            }
                        }
                    <label>@CountME</label>
                    </td>
                    <td>
                        @{int CountIntern = 0;}
                        @foreach (var item in Model.Enrollments)
                        {
                            if (item.Course != null && item.Course.Type == "Internship")
                            {
                                if (item.Status == "Complete")
                                {
                                    CountIntern = CountIntern + item.Course.Credits;
                                }
                            }
                        }
                        <label>@CountIntern</label>
                    </td>
                    <td>@{int CountMinor = 0;}
                        @foreach (var item in Model.Enrollments)
                        {
                            if (item.Course != null && item.Course.Type == "MKT" && item.Course.Type == "CMD")
                            {
                                if (item.Status == "Complete")
                                {
                                    CountMinor = CountMinor + item.Course.Credits;
                                }
                            }
                        }
                    <label>@CountMinor</label>
                    </td>

                </tr>

            </table>

        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
