@model STIUApp.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major)
        </dd>
         
        <dt> @Html.DisplayNameFor(model => model.Enrollments) </dt>
        <dd> 
        <table class="table"> 
        <tr> 
            <th>Course ID</th> <th>Course Title</th> <th>Credits</th>  <th>Taken?</th> 
        </tr> 

        @foreach (var item in Model.Enrollments)
        {
        <tr> 
            <td> @Html.DisplayFor(modelItem => item.Course.CourseID) </td> 
            <td> @Html.DisplayFor(modelItem => item.Course.Title) </td> 
            <td> @Html.DisplayFor(modelItem => item.Course.Credits) </td> 
            <td> @Html.DisplayFor(modelItem => item.Taken) </td> 
        </tr> 
        } 

        </table> 
        </dd>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        Total Credit
                        @{int Counter = 0;}
                        @foreach (var item in Model.Enrollments)
                        {

                            if (item.Course != null && item.Status == "Completed")
                            {
                                Counter = Counter + item.Course.Credits;
                            }
                        }
                    </th>
                </tr>
                <tr>
                    <th>
                        <label>@Counter</label>
                    </th>
                </tr>


            </table>

        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
